@import 'https://fonts.googleapis.com/css?family=Lato|Raleway|Yanone+Kaffeesatz';
@import 'colors';

@import 'routes/home';
@import 'routes/bio';
@import 'routes/directions';

html {
  margin: 0 auto;
  max-width: 700px;
  background-color: $app-background;
}

body {
  background-color: white;
  border-radius: 20px;
  padding:20px;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-size: 16pt; */

  h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
  }

  .nav-bar {
    span {
      padding: 5px;
    }
  }

}

.headliner-image{
  text-align: center;
}
