@import 'colors';
@import 'fonts';

@import 'routes/home';
@import 'routes/bio';
@import 'routes/directions';
@import 'routes/places-to-stay';
@import 'routes/things-to-see';

@import 'components/facebook-link';
@import 'components/photo-carousel';

html {
  margin: 0 auto;
  max-width: 850px;
  background-color: $app-background;
  position: relative;
}

.loading.no-ember {
  text-align: center;
  img {
    width: 50vw;
  }
}

.ember-application .loading.no-ember {
  display: none;
}

body {
  margin: 0;

  .container {
    display: block;
    padding-bottom: 20px;
    margin: 8px;
  }

  .title {
    text-align: center;
    margin-bottom: 0 0 10px;
  }

  .nav-bar {
    margin: 50px 0 30px;
    text-align: center;

    @media (max-width: 750px){
      margin: 20px 0 15px;
    }

    span {
      padding: 5px;
      display: inline-block;
      white-space: nowrap;
      i, a {
        vertical-align: middle;
      }
      i {
        margin-right: 5px;
      }
    }
  }

  .bottom-bar {
    margin-top:15px;
    .facebook-image {
      vertical-align: middle;
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
    span {
      vertical-align: middle;
    }
    font-size: $bottom-bar-font-size;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .credit {
    float: right;
  }

  .headliner-image {
    text-align: center;
  }

  .content {
    @media (max-width: 750px) {
      padding: 10px;
    }
    border: 1px solid $app-frame-color;
    border-radius: 5px;
    background-color: $app-content-background-color;
    padding: 40px 40px 20px;
    @media (max-width: 750px) {
      padding: 10px 10px 10px 10px;
    }

    h1, h2, h3, h4, h5 {
      .title-abut-icon, i {
        vertical-align: middle;
      }
    }

    h1:first-of-type {
      margin: 0 0 40px 0;
      @media (max-width: 750px) {
        margin: 0 0 20px 0;
      }
    }
  }

  @media (max-width:750px) {
    ul {
      padding-left: 10px;
    }
  }

  .mobile-only {
    display: none;

    @media (max-width:750px) {
      display: initial;
    }
  }

  .desktop-only {
    display: initial;

    @media (max-width:750px) {
      display: none;
    }
  }

  button {
    background: none;
    border: 0;
    color: black;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    background-color: transparent;
    color: black;
  }

  .not-found {
    text-align: center;

    img {
      min-height: 400px;
      max-width: 50vw;
      max-height: 50vh;
    }
  }
}
