@import 'colors';
@import 'fonts';

@import 'routes/home';
@import 'routes/bio';
@import 'routes/directions';

html {
  margin: 0 auto;
  max-width: 700px;
  background-color: $app-background;
}

body {
  background-color: white;
  border-radius: 20px;
  padding:20px;

  .nav-bar {
    span {
      padding: 5px;
      display: inline-block;
      white-space: nowrap;
    }
  }

}

.headliner-image{
  text-align: center;
}
