$cranberry: #590212;
$off-white: #F7F5EB;
$off-white-pink: #F3E5E5;

$app-background: $off-white-pink;
$address-background: $app-background;

$app-frame-color: $cranberry;
$app-content-background-color: $off-white;

$body-font-color: $cranberry;
