$cranberry: #590212;
$off-white: #F7F5EB;
$off-white-pink: #fff7f7;
$white: white;

$app-background: $white;

$app-frame-color: $cranberry;
$app-content-background-color: $off-white-pink;
$context-background-color: $off-white-pink;

$body-font-color: $cranberry;

$hightlighted-content: $white;
