$cranberry: #590212;
$off-white: #F7F5EB;
$off-white-pink: #F3E5E5;
$white: white;

$app-background: $white;

$app-frame-color: $cranberry;
$app-content-background-color: $white;

$body-font-color: $cranberry;

$hightlighted-content: $white;
