@import 'https://fonts.googleapis.com/css?family=Lato|Raleway|Yanone+Kaffeesatz';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'colors';

  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
$body-font-size: 14pt;
$nav-bar-font-size: 12pt;

$body-font: 'Lato', sans-serif;
$header-font: 'Raleway', sans-serif;


body {
  font-family: $body-font;
  font-size: $body-font-size;
  color: $body-font-color;

  h1, h2, h3, h4, h5 {
    font-family: $header-font;
  }

  .nav-bar {
    font-size: $nav-bar-font-size;
  }
}
