.photo-carousel {
  .frame {
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;

    img {
      height: 400px;
    }
  }

  .toolbar {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    .next,.previous {
      margin: 0px 15px;
      background: none;
      border: 0;
      color: black;
      font: inherit;
      cursor: pointer;
      line-height: normal;
      overflow: visible;
      padding: 0;
      background-color: transparent;
      color: black;
    }
  }

  @media (max-width: 750px) {
    .top-bar {
      position: absolute;
      margin: 10px;
      display: flex;
      .close {
        display: inline-block;
        background-color: rgba(57, 70, 78, 0.65);
        height: 40px;
        width: 40px;
        border-radius: 40px;
        color: lightgray;
        * {
          line-height: 24px;
          vertical-align: top;
        }
        a:visited {
          color: lightgray;
        }
      }
    }
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top:0;
    .frame {
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 0;
      height: 100vh;
      overflow: hidden;
      img {
        display:inline-block;
        height: auto;
        max-height: 100vh;
        max-width: 100vw;
      }
    }

    .toolbar {
      display: flex;
      position: absolute;
      bottom: 10px;
      height: 30px;
      width: 100%;
      background-color: transparent;
      padding: 0;
      .next,.previous {
        width: 30px;
        border-radius: 30px;
        background-color: rgba(57, 70, 78, 0.65);
        color: lightgray;
        display: inline block;
        * {
          line-height: 30px;
          vertical-align: middle;
          margin-top: -2px;
        }
      }

      .spacer {
        flex-grow: 1;
      }
    }
  }
}
