.home {
  .headliner-image img {
    width:300px;
  }

  .person {
     margin-bottom:10px;

     .headshot {
        width:100px;
        display:inline-block;
        vertical-align:top;
     }

     .details{
        padding:10px 0px 0px 10px;
        display:inline-block;
        vertical-align:top;
     }
  }
}
