<div class="nav-bar">
  <span>{{#link-to "home"}}Home{{/link-to}}</span>
  <span>{{#link-to "bio"}}About Us{{/link-to}}</span>
  <span>{{#link-to "directions"}}Directions{{/link-to}}</span>
  <span>{{#link-to "places-to-stay"}}Places to Stay{{/link-to}}</span>
  <span>{{#link-to "places-to-eat"}}Places to Eat{{/link-to}}</span>
  <span>{{#link-to "things-to-see"}}Things to See{{/link-to}}</span>
</div>
<h2>Alex and Elizabeth's Wedding</h2>
{{outlet}}
