<div class="nav-bar">
  <span><a href="/">Home</a></span>
  <span><a href="/directions">Directions</a></span>
  <span><a href="/places-to-eat">Places to Eat</a></span>
  <span><a href="/things-to-see">Things to See</a></span>
</div>
<h1>Alex and Elizabeth's Wedding</h1>
{{outlet}}
