<h1>About Us</h1>
<div class="headliner-image"><div><img src="images/alex-elizabeth-vassar.jpg" alt=""></div></div>
<p>We met at Vassar College, during our first semester in the Fall of 2007 (we took biology together). We celebrate our dating anniversary as October 28, the same as our wedding date! We graduated in 2011 with a degree in history (Elizabeth) and computer science (Alex).</p>
<p>After college, we moved to Medford, Massachusetts so Elizabeth could persue her masters in history. Alex took a job as a programmer at iVantage Health Analytics, a healthcare analytics company. After finishing her masters in 2013, Elizabeth starting working in editorial operations at Up to Date, an online journal for physicians; we then moved to Allston, a suburb of Boston.
<p>
  2017 was a big year for us; on May 21st, we got engaged at Worlds End in Hingham, MA. In August, Alex was hired at Rallypoint Networks, Inc, an online community for military veterans and active duty personnel.</p>
</p>
<p>As a couple, we enjoy board games and card games, birdwatching, golf, hiking, and running. We also enjoy cooking and dining out.</p>
