<h1>
  Directions
</h1>
<div class="headliner-image"><div><img src="/images/blue-hills.jpg" alt=""></div></div>
<h3>Address of the Blue Hills at Stone Barns</h3>
<div>
  <p>Blue Hills at Stone Barns is in Tarrytown, New York. However, most GPS apps will prefer the following:</p>
  <p class="address">630 Bedford Rd, Pocantico Hills, NY 10591</p>
  <p><a href="https://www.google.com/maps/place/Blue+Hill+at+Stone+Barns/@41.1040547,-73.8308545,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2bfee3ca6e525:0x2b2523d5c9a63e32!8m2!3d41.1040507!4d-73.8286605">View on Google Maps</a></p>
</div>
{{outlet}}
