<h1>
  Directions
</h1>
<div class="headliner-image"><div><img src="/images/blue-hills.jpg" alt=""></div></div>
<h3><span class="title-abut-icon">Address of the Blue Hill at Stone Barns </span><span>{{wedding-icon name="directions_car"}}</span></h3>
<div>
  <p>Blue Hill at Stone Barns is in Tarrytown, New York. However, most GPS apps will prefer the following:</p>
  <p class="address">630 Bedford Rd, Pocantico Hills, NY 10591</p>
  <p><a href="https://www.google.com/maps/place/Blue+Hill+at+Stone+Barns/@41.1040547,-73.8308545,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2bfee3ca6e525:0x2b2523d5c9a63e32!8m2!3d41.1040507!4d-73.8286605">View on Google Maps</a></p>
</div>
<h1>
  Transportation
</h1>
<h3><span class="title-abut-icon">Local Airports </span><span>{{wedding-icon name="flight"}}</span></h3>
<p>
  There are a number of airport options within the NYC metro area. Westchester County Airport is your best bet, proximity-wise. If flying into NYC, our top recommendation is LaGuardia Airport.
</p>
<div class="address">
  <ul>
    <li>
      Hudson Valley:
      <ul>
        <li>
          Westchester County Airport (14 mi)
        </li>
        <li>
          Stewart International Airport (40 mi)
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      New York City:
      <ul>
        <li>
          LaGuardia Airport (33 mi)
        </li>
        <li>
          John F. Kennedy International Airport (43 mi)
        </li>
        <li>
          Newark Liberty International Airport (46 mi)
        </li>
      </ul>
    </li>
  </ul>
</div>
<h3><span class="title-abut-icon">Metro-North Commuter Rail </span><span>{{wedding-icon name="directions_railway"}}</span></h3>
<p>
    The closest commuter rail stop is Tarrytown Station, which is located slightly over three miles from Blue Hill. Tarrytown is located along the Metro-North Hudson line, which runs from Grand Central Station in New York City to Poughkeepsie, NY (37-minute ride from Grand Central to Tarrytown).
</p>
{{outlet}}
