<h1>Venue</h1>
<p>
  Our wedding ceremony and reception will take place the evening of Saturday, October 28, 2017 at Blue Hill at Stone Barns, a working farm, farm-to-table restaurant, and center for food and agriculture located in Pocantico Hills in the lower Hudson Valley.
</p>
<p>
  Please check back for further information regarding the details of the ceremony and reception as the date approaches.
</p>
