<h1>Venue</h1>
<p>
  Our wedding ceremony and reception will take place the evening of Saturday, October 28, 2017 at Blue Hill at Stone Barns, a working farm, farm-to-table restaurant, and center for food and agriculture located in Pocantico Hills in the lower Hudson Valley. Please plan on arriving at 6:00 pm.  The ceremony will begin at 6:30 pm and will be followed by a cocktail reception, dinner, and dancing.
</p>
<p>Recommended attire: Cocktail. For men, suit or jacket and tie recommended. For women, short or long dress, or skirt/pantsuit.</p>
