<div class="headliner-image"><div><img src="images/just-engaged.jpg" alt=""></div></div>
<p class="welcome-message">Alex Middeleer and Elizabeth Packer are getting married! Please use the links
in the toolbar to find information about the wedding.</p>
<div class="contact-info">
  <h3>Our contact info</h3>
  <div class="person">
    <img class="headshot" src="images/alex-head.jpg" alt="">
    <div class="details">
      <!-- <ul>
        <li class="phone">cell: <a href="tel:203-915-3306">203-915-3306</a></li>
        <li class="email">email: <a href="mailto:almiddeleer@gmail.com">almiddeleer@gmail.com</a></li>
        <li class="facebook"><a href="https://www.facebook.com/almiddeleer">Alex's Facebook</a></li>
      </ul> -->
    </div>
  </div>
  <div class="person">
    <img class="headshot" src="images/elizabeth-head.jpg" alt="">
    <div class="details">
      <!-- <ul>
        <li class="phone">cell: <a href="tel:203-273-8519">203-273-8519</a></li>
        <li class="email">email: <a href="mailto:elpacker88@gmail.com">elpacker88@gmail.com</a></li>
        <li class="facebook"><a href="https://www.facebook.com/elpacker88">Elizabeth's Facebook</a></li>
      </ul> -->
    </div>
  </div>
</div>
{{outlet}}
