<h1>
  We're Getting Married! &hearts;
</h1>
<div class="headliner-image"><div><img src="images/just-engaged.jpg" alt=""></div></div>
<p class="welcome-message">Alex Middeleer and Elizabeth Packer are getting married! Please use the links
above to find information about our wedding. The wedding will take place on October 28, 2017.</p>
<p>
  Only {{wedding-countdown}} to go!
</p>
{{outlet}}
