<p class="welcome-message">Alex and Elizabeth are getting married! Please use the links
in the toolbar to find information about the wedding.</p>
<div class="contact-info">
  <div class="person">
    <img class="headshot" src="images/alex-head.jpg" alt="">
    <div class="details">
      <div class="name-header">Alex's contact information:</div>
      <ul>
        <li class="phone">cell: <a href="tel:203-915-3306">203-915-3306</a></li>
        <li class="email">email: <a href="mailto:almiddeleer@gmail.com">almiddeleer@gmail.com</a></li>
        <li class="facebook"><a href="https://www.facebook.com/almiddeleer">Alex's Facebook</a></li>
      </ul>
    </div>
  </div>
  <div class="person">
    <img class="headshot" src="images/elizabeth-head.jpg" alt="">
    <div class="details">
      <div class="name-header">Elizabeth's contact information:</div>
      <ul>
        <li class="phone">cell: <a href="tel:203-273-8519">203-273-8519</a></li>
        <li class="email">email: <a href="mailto:elpacker88@gmail.com">elpacker88@gmail.com</a></li>
        <li class="facebook"><a href="https://www.facebook.com/elpacker88">Elizabeth's Facebook</a></li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
