<div class="headliner-image"><div><img src="images/just-engaged.jpg" alt=""></div></div>
<p class="welcome-message">Alex Middeleer and Elizabeth Packer are getting married! Please use the links
above to find information about the wedding.</p>
{{outlet}}
