<h1>Places to stay </h1>
<h2>Tarrytown/White Plains area</h2>
<p>
<a href="http://www.cambriasuiteswhiteplains.com/">Cambria Hotel & Suites</a> (250 Main St. White Plains, NY)</p>
<p>
  <a href="http://www.marriott.com/hotels/travel/hpngr-courtyard-tarrytown-greenburgh/">Courtyard Tarrytown Greenburgh</a> (475 White Plains, NY)
</p>
<p>
  <a href="http://doubletree3.hilton.com/en/hotels/new-york/doubletree-by-hilton-hotel-tarrytown-TERHIDT/index.html">Doubletree by Hilton Hotel Tarrytown</a> (455 S Broadway, Tarrytown, NY)
</p>
<p>
  <a href="http://www.sheratontarrytown.com/">Sheraton Tarrytown Hotel</a> (600 White Plains Rd. Tarrytown, NY)
</p>
<p>
  <a href="http://www.marriott.com/hotels/travel/hpntr-springhill-suites-tarrytown-greenburgh/">Springhill Suites Tarrytown</a> (220 White Plains Rd. Tarrytown, NY)
</p>
<p>
  <a href="http://www.marriott.com/hotels/travel/nycwe-westchester-marriott/">Westchester Marriott</a> (680 White Plains Rd. Tarrytown, NY)
</p>
<!-- <div class="hotel-name">The First Hotel Name</div> -->
<!-- <p>
  <img class="hotel" src="/images/blue-hills.jpg" alt="hotel name goes here">
  This hotel is affordable and convenient. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
<!-- <div class="hotel-name">The B & B Name</div> -->
<!-- <p>
  <img class="hotel" src="/images/blue-hills.jpg" alt="hotel name goes here">
  This hotel is affordable and convenient. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
<h2>New York City</h2>
<p>
As we’re sure you can imagine, there are a wealth of options of places to stay in NYC. If you’re interested in staying in New York, we recommend consulting <a href="https://www.tripadvisor.com/">TripAdvisor</a> or <a href="https://www.yelp.com/">Yelp</a> for suggestions of specific places. Please note that if you’d like to use the train to get to Tarrytown, the Hudson line runs through Grand Central Station (89 E 42nd St.).
</p>
{{outlet}}
