<h1>Places to stay </h1>
<p>We recommend these inns and hotels.</p>
<div class="hotel-name">Coming Soon!</div>
<!-- <div class="hotel-name">The First Hotel Name</div> -->
<!-- <p>
  <img class="hotel" src="/images/blue-hills.jpg" alt="hotel name goes here">
  This hotel is affordable and convenient. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
<!-- <div class="hotel-name">The B & B Name</div> -->
<!-- <p>
  <img class="hotel" src="/images/blue-hills.jpg" alt="hotel name goes here">
  This hotel is affordable and convenient. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
{{outlet}}
