<h1>Places to Eat</h1>
<p>The Hudson Valley is known for its culinary tradition. With New York City to the south, the Culinary Institute of America to the north, and a long agricultural history in the region, many chefs are drawn to the area.</p>
<div class="restaurant-name">Coming soon!</div>
<!-- <div class="restaurant-name">The French Place</div> -->
<!-- <p>
  <img class="restaurant" src="/images/blue-hills.jpg" alt="restaurant name goes here">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
<!-- <div class="restaurant-name">The Grill</div> -->
<!-- <p>
  <img class="restaurant" src="/images/blue-hills.jpg" alt="restaurant name goes here">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt molestie malesuada. Nulla blandit placerat est et ornare. Aliquam ultrices molestie dui, id sollicitudin nisl cursus vel. Nunc aliquam efficitur egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed tincidunt tortor, vel suscipit diam. Nulla vitae auctor quam. Donec at tortor a quam porta sollicitudin placerat at lorem.
</p> -->
{{outlet}}
