<h1>Things to See</h1>
<h2>
  Lower Connecticut
</h2>
<p>
  <span class="location-name">Stamford Museum & Nature Center</span> (39 Scofieldtown Rd. Stamford, CT): The Stamford Nature Center features a farm, a small museum with rotating exhibits, and trails covering over 80 acres (including an accessible nature trail) that also interlink with the neighboring Bartlett Arboretum.
  </p>
<h2>
  Lower and Middle Hudson Valley
</h2>
    <p>
      <span class="location-name">Blue Hill at Stone Barns</span> (630 Bedford Rd. Pocantico Hills, NY): In addition to being the site of our wedding, Blue Hill is a fully working farm and center for food and agriculture that hosts daily tours and activities. If you’re interested in touring the farm, please note that reservations are recommended.
    </p>
    <p>
      <span class="location-name">Dia Beacon</span> (3 Beekman St. Beacon, NY): This modern art installation features an impressive array of large sculptures and paintings. If twisted metal, broken glass, dramatic scale, and experimental abstract art sounds like your cup of tea, this is a neat place to spend a few hours. Coffee and gift shops on-site.
    </p>
    <p>
      <span class="location-name">Storm King Art Center</span> (1 Museum Rd. New Windsor, NY): Similar to Dia Beacon in terms of artistic style, but a better bet if you prefer to enjoy outdoor art. This expansive property is beautiful and features massive outdoor sculptures and a dramatic landscape that is excellent for a long walk. Sneakers or other sturdy walking shoes recommended.
    </p>
    <p>
      <span class="location-name">Vassar College</span> (124 Raymond Ave. Poughkeepsie, NY): It’s a bit of a drive, but we couldn’t resist throwing this on here. In addition to being a wonderful liberal arts college, Vassar boasts an absolutely beautiful campus that also happens to be an arboretum. If you’re looking to catch lunch in the area as part of your visit, definitely consider stopping at Babycakes Cafe, a favorite spot of ours from our college days!
    </p>
    <p>
      <span class="location-name">Ward Pound Ridge Reservation</span> (6 Reservation Rd. Pound Ridge, NY): The Pound Ridge Reservation is one of our favorite places to hike in the lower Connecticut/lower Hudson Valley area. The reservation is over 4,000 acres and includes an extensive network of well-blazed trails. Hiking boots and a trail map are strongly recommended!
    </p>
    <p>
      <span class="location-name">Westchester Mall</span> (125 Westchester Ave. White Plains, NY): Forget your tie? Inclement weather (we hope not!)? The Westchester Mall is a great spot to do some serious shopping.
    </p>
<h2>
  New York City (and Boroughs)
</h2>
  <p>
    <span class="location-name">Bronx Zoo</span> (2300 Southern Blvd. Bronx, NY): The Bronx Zoo is truly world class--even on a cloudy and/or chilly day, it is definitely worth a visit! The Zoo is home to over 650 species of animals (be sure not to miss the World of Birds!) and features an extensive network of walking paths.
  </p>
{{outlet}}
